@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

** {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  color: #243e63;
  padding-left: 48px;
  padding-top: 8px;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-top: 36px;
  margin-right: 50px;
}
 .img {
  width: 50%;
 }
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.purple {
  color: #6415ff;
}
main {
  margin-bottom: 96px;
}
.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.container {
  padding: 96px 0;
}

.landing__flex--container {
  display: flex;
  align-items: center;
justify-content: center;
max-width: 1280px;
width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: 90px;
}

nav {
  display: flex;
  padding-top: 32px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__row {
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}


.nav__link--wrapper {
  margin-left: 16px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav__links {
  display: flex;
}
.nav__link {
  padding: 4px;
  
}
.nav__link--anchor {
  list-style: none;
}

.nav__link:hover {
  text-decoration: underline; 
cursor: pointer;
}

.nav__link--primary {
  border: 2px solid #7f7b86;
  border-radius: 6px;
  background-color: #6f36df;
color:rgb(240, 226, 226);
}

.nav__logo--wrapper {
  width: 30%;
  height: 30%;
}

.nav__logo {
  padding-bottom: 4px;
width: 25%;
height: 25%;
  justify-content: space-between;
}
.nav__logo--text {
  font-size: 100%;
  font-weight: bolder;
}
/*-------------------
---------------------
------HEADER---------
---------------------
-------------------*/
#header {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.header__container {
  flex-direction: column;
  display: flex;
}

.header__row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header__left {
  align-content: center;
  justify-content: center;
  margin-left: 90px;

}

.header__description {
  align-content: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 76px;
  font-weight: bolder;
}
.header__description > span:nth-child(1) {
  display: contents;
}

.subheader {
  align-content: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
}

#email {
  
  font-size: 16px;
  font-weight: 500;
  transition: border-color 300ms;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  color: rgb(36, 62, 99);
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.header__input {
  display: flex;
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
  flex-direction: column;
  text-align: center;
}

.input__email--button {
  color: #e7dfe9;
  cursor: pointer;
  font-weight: 600;
  background-color: #6415ff;
  font-size: 8px;

}
.header__customers--text {
  margin-bottom: 15px;
  font-size: 18px;
 
}
.header__customers {
  width: 60%;
}
.header__customers--logo__img > img:nth-child(1) {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}



.header__design--img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
/*-------------------
---------------------
------FEATURES-------
---------------------
-------------------*/
#features {
  display: flex;
  align-content: center;
  justify-content: center;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__container {
  display: flex;
}

.feature__title {
  color: rgba(7, 2, 2, 0.774);
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 900;

}
h3.feature__title {
  display: flex;
  align-content: center;
  justify-content: center;
}

.features__intro {
  margin: 0 auto;
  font-size: small;
}
.features__subtitle {
  max-width: 600px;
  margin: 0 auto 50px;
 color: black;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  font-size: 24px;
}

.feature__card {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.feature__icon {
  font-size: 40px;
  margin-bottom: 8px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.feature__description {
  color: rgba(7, 2, 2, 0.719);
  display:flex;
  flex-direction: column;
}


/*--------------------
----------------------
-------QUALITY WORK---
----------------------
--------------------*/
#quality__work {
  padding: 80px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 8px;
}
.quality__work--row {
  display: flex;
  align-content: center;
  justify-content: center;
}

.quality__work--container {
  width: 50%;
   align-items: center;
  display: flex;
  flex-direction: column;
 }
.quality__work--img {
  width: 100%;
}
.quality__work--intro {
  font-size: 16px;
  font-weight: 900;
  padding: 4px;
  margin: 8px auto;
  display: flex;
  align-content: center;
  justify-content: center;
}
.quality__work--title {
  font-size: 48px;
  font-weight: 900;
  display: inline;
  justify-content: space-between;
  }
  .quality__work--description {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
 .quality__work--button {
  background:#6415ff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-right: auto;
}
/*--------------------
-----------------------
---------STEPS--------
-----------------------
---------------------*/
#steps {
  padding: 80px 5%;
}
.step {
  display: flex;
  gap: 20px;
  align-content: center;
}


.steps__container {
  display: flex;
  justify-content: space-between;
}
.steps__subtitle {
  font-size: small;
}

.steps__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
}
.steps__content {
  width: 40%;
}
.steps__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}
.steps__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.steps__img--wrapper {
  width: 100%;
}



.step__number {
  font-size: 28px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.829);
}

.step__text h3 {
  margin-bottom: 5px;
}

.step__text p {
  color: rgba(0, 0, 0, 0.801);
}

/*------------------
-------------------
------VALYE--------
-----------------*/
#value {
  padding: 80px 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.value__container {
  width: 50%;
}

.value__img--wrapper {
  width: 50%;
}

.value__row {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: space-between;
}



.value__title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}

.value__description {
  margin-bottom: 30px;
}

.value__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.value__card {
  display: flex;
  gap: 20px;
}

.value__icon {
  font-size: 32px;
}


  .value__button {
    padding: 14px 25px;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    background-color: #6415ff;
  }


/*---------------------PRICING-----------------*/
#pricing {
width: 100%;
max-width: 1200PX;
margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing_top {

display: flex;
justify-content: space-between;
align-items: center;
}
.pricing__intro {
  font-size: 16px;
}
.pricing__middle {
 display: grid;
  align-content: center;
  justify-content: center;
}
.pricing__bottom {
align-content: center;
  display: flex;
  justify-content: center;
}
.pricing__title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 15px;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}

.pricing__description {
  max-width: 600px;
  margin: 0 auto 40px;

}

.pricing__cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 24px;
  padding: 24px;
}
div.pricing__middle:nth-child(5) > p:nth-child(1) {
  align-content: center;
  display: flex;
  justify-content: center;
}
h4.pricing__plan:nth-child(1) {
  align-content: center;
  display: flex;
  justify-content: center;
}
div.pricing__middle:nth-child(2) > p:nth-child(1) {
  align-content: center;
  display: flex;
  justify-content: center;
}
h4.pricing__plan:nth-child(3) {
  align-content: center;
  display: flex;
  justify-content: center;
}
div.pricing__middle:nth-child(6) {
  align-content: center;
 justify-content: center;
}
div.pricing__middle:nth-child(6) > p:nth-child(1) {
  align-content: center;
  display: flex;
  justify-content: center;
}

.pricing__card--1 {
  margin: 16px;
  padding: 24px;
  align-content: center;
}

.pricing__card--1__strip {
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #f7fafc;
  background: linear-gradient( 115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
}


.pricing__button--1 {
color: #f7fafc;
  background: linear-gradient( 115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100% );
margin: 8px 16px 24px;
}
.pricing__card--1 > div:nth-child(1) {
  align-content: center;
  justify-content: center;
  display: grid;
}

.pricing__card--2 {
  background: linear-gradient( 135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100% );
 color: #fff;
  border-radius: 6%;
  align-items: center;
  display: grid;
  justify-content: space-between;
 padding: 8px 16px;
}
h4.pricing__plan:nth-child(2) {
  align-content: center;
  display: flex;
  justify-content: center;
}
.pricing__card--3__strip { left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
 color: #f7fafc;
background: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
}
.pricing__button--3 {
  color: #f7fafc;
  background: linear-gradient( 115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100% );
  padding: 4px;
  border-radius: 10%;
  font-size: 16px;
}
div.pricing__bottom:nth-child(7) {
  margin: 16px 0 auto;
}

.pricing__plan {
 margin-bottom: 10px;
 width: calc(100%/3);
 display: flex;
 flex-direction: column;
}

.pricing__price {
  font-size: 32px;
  font-weight: 900;
  display: flex;
  justify-content: center;
}
.pricing__duration {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.pricing__features {
  list-style: none;
  margin: 4px 0;
  display: grid;
  justify-content: center;
  align-content: center;
}
.pricing__button {
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}
/*----------------TESTIMONIALS--------------------*/
#testimonials {
  padding: 80px 5%;
}
.testimonials__img > img:nth-child(1) {
  width: 50%;
}

.testimonials__row {
  display: flex;
  align-items: center;

}
.customer__img > img:nth-child(1) {
  border-radius: 40%;
  width: 100px;
  }
.testimonials__content {
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  }
.testimonials__title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
}

.testimonials__stars {
  color: gold;
  margin-bottom: 20px;
}

.testimonials__summary,
.testimonials__review {
  margin-bottom: 20px;
}

.testimonials__customer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.customer__name {
  font-weight: 700;
}


/*---------------------SIGN UP---------------------*/
#sign-up {
  padding: 80px 5%;
}


#sign-up .row {
    position: relative;
    overflow: hidden;
}
.sign-up__container {
  background: #6415ff;
  color: #fff;
  padding: 60px;
  border-radius: 10px;
  text-align: center;
}

.sign-up__title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 30px;
}

.sign-up__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sign-up__button {
  padding: 14px 25px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.sign-up__button--primary {
  color: #fff;
  background:#f56565;
}

.sign-up__button--secondary {
  background: #6415ff;
  border: 2px solid #fff;
  color: #fff;
}

/*------------------------FOOTER--------------------------*/
#footer {
  background-color: #6415ff;
width: 100%;
justify-content: space-between;
display: flex;
padding: 80px 24px 40px;
align-items: center;
}
footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}



 .footer__column--anchor {
list-style:none;
text-align: center;
font-size: medium;
gap: 2px;
  color:#fff;
 }

.footer__columns {
  color: white;

}



@media(max-width: 1280px) {
    .header__row {
        align-items: flex-end;
    }
}





/*---------------------------------@MEDIA 1024-----------------------*/
@media (max-width: 1024px) {
  .header__row,
  .quality__row,
  .steps__row,
  .value__row,
  .testimonials__row,
  .pricing__cards {
    flex-direction: column;
    text-align: center;
  }
  
  
  .features__grid {
    grid-template-columns: repeat(2, 1fr);
    color: white;
  }

  .footer__columns {
    flex-direction: column;
    gap: 40px;
    text-align: center;
    color: white;
}

   .header__row {
    flex-direction: column;
    align-items: center;
}
       #footer {
    padding: 80px 32px;
}
#quality__work {
  flex-direction: column;
}
}
/*-----------------------------@MEDIA 768--------------------*/
@media (max-width: 768px) {
  .features__grid {
    grid-template-columns: 1fr;
  }

  .header__description {
    font-size: 36px;
  }
  .header__input {
    flex-direction: column;
  }

  .header__input input,
  .input__email--button {
    width: 100%;
    border-radius: 6px;
  }

  .input__email--button {
    margin-top: 10px;
  }

  #quality__work--row,
  #value__row {
    flex-direction: column-reverse;
    }
    #steps__row,
    #testimonials__row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }

}
/*----------------------
---------@MEDIA 640-----
----------------------*/
@media(max-width: 640px) {
  .container {
      padding: 80px 0;
  }
  .nav__logo {
      margin: 8px 0;
      padding-bottom: 4px;
  }
  main {
      margin-bottom: 80px;
      }
        .header__email--input {
          position: static;
          padding: 16px 0;
          padding-left: 0px;
          padding-left: 32px;
          line-height: 1.5;
        }


    }